// common.scss - 공통으로 적용되는 스타일

.clickable {
  cursor: pointer;
}

.font-1 {
  font-size: $font-size-1;
}

.font-2 {
  font-size: $font-size-2;
}

.font-3 {
  font-size: $font-size-3;
}

.font-4 {
  font-size: $font-size-4;
}

.color-main {
    color: $color-main;
}

.color-sub {
  color: $color-sub;
}

.color-dark-gray {
  color: $color-dark-gray;
}

<<<<<<< HEAD

=======
.fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}
>>>>>>> 2e271a7bd18cd87da6b2056108ea373197c120d5
