@import "~vuetify/src/styles/styles.sass";

// 폰트
$font-size-1: 10px;
$font-size-2: 14px;
$font-size-3: 18px;


// 컬러
$color-main: #5B5C9D;
$color-sub: #F6F7FF;
$color-light-gray: #F5F5F5;
$color-dark-gray: #8B8B8B;
