click==8.0.3
colorama==0.4.4
Flask==2.0.2
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.0.1
numpy==1.22.1
PyMySQL==1.0.2
python-dotenv==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
SQLAlchemy==1.4.31
threadpoolctl==3.1.0
Werkzeug==2.0.2
