.dark-background {
  position: fixed;
  z-index: 7;
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.light-background {
  background-color: white;
}

.gray-background {
  background-color: rgb(241, 240, 240);
}

// 카테고리 탭
.on-clicked {
  background-color: $color-main !important;
  color: white !important;
}

// 네브바 만들기 버튼 회전
.rotate {
  transform: translate(-50%, 0%) rotate(45deg) !important;
  transition: all 0.5s;
}

.fixed-bottom {
  z-index: 20 !important;
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
}

.fixed-bottom-navbar {
  z-index: 5 !important;
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
}

.fixed-top {
  display: inline-block;
  position: fixed !important;
  z-index: 6;
  top: 0 !important;
  width: 100% !important;
}

.navbar-background {
  background-color: rgb(250, 250, 250);
}


.video-thumbnail {
  position: relative;
}

.duration {
  position: absolute;
  bottom: 3px;
  right: 5px;
  background-color: rgba($color: #000000, $alpha: 0.6);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 1px;
}

.shadow-s {
  box-shadow: 4px 4px 3px #000;
}

.shadow-m {
  box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.6);
}

.shadow-l {
  box-shadow: 8px 8px 8px rgba($color: #000000, $alpha: 0.6);
}


// 플레이리스트 CD Big
.playlist-cd {
  display: inline-block;
  position: relative;
  z-index: 1;
  img {
    border-radius: 100%;
    border: solid 4px;
    border-color: lightgrey;
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 8px 8px 12px 0px rgba($color: #000000, $alpha: 0.4);
  }
  div {
    border-radius: 100%;
    background-color: white;
    border: solid 4px;
    border-color: lightgrey;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 8px 3px rgba($color: #000000, $alpha: 0.4) inset;
    }
}

// 플레이리스트 CD Medium
.playlist-cd-medium {
  display: inline-block;
  position: relative;
  z-index: 1;
  img {
    border-radius: 100%;
    border: solid 2px;
    border-color: lightgrey;
    width: 160px;
    height: 160px;
    object-fit: cover;
    box-shadow: 4px 4px 6px 0px rgba($color: #000000, $alpha: 0.4);
  }
  div {
    border-radius: 100%;
    background-color: white;
    border: solid 2px;
    border-color: lightgrey;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 4px 1px rgba($color: #000000, $alpha: 0.4) inset;
    }
}

// 플레이리스트 CD Small
.playlist-cd-small {
  display: inline-block;
  position: relative;
  z-index: 1;
  img {
    border-radius: 100%;
    border: solid 1.5px;
    border-color: lightgrey;
    width: 110px;
    height: 110px;
    object-fit: cover;
    box-shadow: 3px 3px 4px 0px rgba($color: #000000, $alpha: 0.4);
  }
  div {
    border-radius: 100%;
    background-color: white;
    border: solid 1.5px;
    border-color: lightgrey;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2px 1px rgba($color: #000000, $alpha: 0.4) inset;
    }
}

// 프로필 사진
.profileImg {
  border-radius: 100%;
  border: solid 1px;
  border-color: lightgrey;
  width: 30px;
  height: 30px;
}


//태그
.tag {
  color: $color-main;
  background-color: $color-sub;
  border-radius: 10%;
  padding: 1px 1px 1px 1px;
}
