.dark-background {
  position: fixed;
  z-index: 7;
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.light-background {
  background-color: white;
}

.gray-background {
  background-color: rgb(241, 240, 240);
}

// 카테고리 탭
.on-clicked {
  background-color: $color-main !important;
  color: white !important;
}

// 네브바 만들기 버튼 회전
.rotate {
  transform: translate(-50%, 0%) rotate(45deg) !important;
  transition: all 0.5s;
}

.fixed-bottom {
  z-index: 20 !important;
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
}

.fixed-bottom-navbar {
  z-index: 5 !important;
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
}

.fixed-top {
  display: inline-block;
  position: fixed !important;
  z-index: 3;
  top: 0 !important;
  width: 100% !important;
}

.fixed-black-background {
  display: inline-block;
  position: fixed !important;
  z-index: 4;
  top: 0 !important;
  width: 100% !important;
}

.navbar-background {
  background-color: rgb(250, 250, 250);
}


.video-thumbnail {
  position: relative;
}

// 시청자수/영상길이
.duration {
  position: absolute;
  bottom: 3px;
  right: 5px;
  background-color: rgba($color: #000000, $alpha: 0.6);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 1px;
}

// // 현재 플레이 여부
.on-play {
  position: absolute;
  top: 3px;
  left: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  padding: 2px 2px 2px 2px;
}

// 큰 영상용 시청자수/영상길이
.duration-big {
  position: absolute;
  bottom: 13px;
  right: 5px;
  background-color: rgba($color: #000000, $alpha: 0.6);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  padding: 2px 0px 0px 2px;
}

// 큰 영상용 현재 플레이 여부
.on-play-big {
  position: absolute;
  top: 7px;
  left: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  padding: 2px;
}

.shadow-s {
  box-shadow: 4px 4px 3px #000;
}

.shadow-m {
  box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.6);
}

.shadow-l {
  box-shadow: 8px 8px 8px rgba($color: #000000, $alpha: 0.6);
}

// 플레이리스트 CD Case.ver
.playlist-cd-case {
  display: inline-block;
  position: relative;
  z-index: 0;
  margin-left: 30px;
  margin-right: 30px;
  #case {
    background: #FFFEFE;
    border-radius: 25px;
    border: solid 3px;
    border-color: white;
    width: 330px;
    height: 330px;
    left: 165px;
    top: 165px;
    position: relative;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
  }
  img {
    border-radius: 100%;
    border: solid 2px;
    border-color: white;
    width: 280px;
    height: 280px;
    left: 25px;
    top: 25px;
    position: absolute;
    object-fit: cover;
    box-shadow: 8px 8px 12px 0px rgba(#000000, $alpha: 0.2);
  }
  div {
    border-radius: 100%;
    background-color: white;
    border: solid 2px;
    border-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 165px;
    top: 165px;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 8px 3px rgba($color: #000000, $alpha: 0.2) inset;
    }

}

// 플레이리스트 CD Big
.playlist-cd {
  display: inline-block;
  position: relative;
  z-index: 1;
  img {
    border-radius: 100%;
    border: solid 4px;
    border-color: lightgray;
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 8px 8px 12px 0px rgba($color: #000000, $alpha: 0.4);
  }
  div {
    border-radius: 100%;
    background-color: white;
    border: solid 4px;
    border-color: lightgrey;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 8px 3px rgba($color: #000000, $alpha: 0.4) inset;
    }
}

// 플레이리스트 CD Medium
.playlist-cd-medium {
  display: inline-block;
  position: relative;
  z-index: 1;
  img {
    border-radius: 100%;
    border: solid 2px;
    border-color: lightgrey;
    width: 160px;
    height: 160px;
    object-fit: cover;
    box-shadow: 4px 4px 6px 0px rgba($color: #000000, $alpha: 0.4);
  }
  div {
    border-radius: 100%;
    background-color: white;
    border: solid 2px;
    border-color: lightgrey;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 4px 1px rgba($color: #000000, $alpha: 0.4) inset;
    }
}

// 플레이리스트 CD Small
.playlist-cd-small {
  display: inline-block;
  position: relative;
  z-index: 1;
  img {
    border-radius: 100%;
    border: solid 1.5px;
    border-color: lightgrey;
    width: 110px;
    height: 110px;
    object-fit: cover;
    box-shadow: 3px 3px 4px 0px rgba($color: #000000, $alpha: 0.4);
  }
  div {
    border-radius: 100%;
    background-color: white;
    border: solid 1.5px;
    border-color: lightgrey;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2px 1px rgba($color: #000000, $alpha: 0.4) inset;
    }
}

// 프로필 사진
.profileImg {
  border-radius: 100%;
  border: solid 1px;
  border-color: lightgrey;
  width: 30px;
  height: 30px;
}


//태그
.tag {
  color: #3a3939;
  background-color: #d8d8ee;
  border-radius: 15%;
  font-size: 12px;
  padding: 3px 3px 3px 3px;
}

// 메인 태그
.main-tag {
  color: black;
  background-color: $color-sub2;
  border-radius: 5px;
  margin: 2px;
  padding: 2px 5px 1px 5px;
  font-size: 12px;
}


// 무조건 가운데 정렬
.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
